@use "../styles/variables" as v;

.studiosContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}

.studioCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media (min-width: v.$breakpoint-tablet-min) {
        flex-direction: row; 
      }
}

.imageContainer {
  flex: 0 0 auto;
  width: 100%;

  @media (min-width: v.$breakpoint-tablet-min) {
    flex: 0 0 250px;
    width: auto;
  }
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;

  @media (min-width: v.$breakpoint-tablet-min) {
    width: 400px;
    height: 100%;
  }
}

.studioInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  color: #cccccc;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: v.$color-text-heading;

    @media (min-width: v.$breakpoint-tablet-min) {
        font-size: 20px;
      }
}

.description {
  font-size: 14px;
  color: v.$color-text-muted;
  margin-bottom: 10px;
  text-align: left;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 10px;
}

.capacity {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 10px;
}

.category {
  font-size: 12px;
  color: #cccccc;
  margin: 2rem 0;
  background-color: #333333;
  padding: 5px 10px;
  border-radius: 4px;
  width: fit-content;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}



